<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title%}
    <title>Private Class</title>
    {% endblock %}

    <link rel="stylesheet" href="styles.css">
    {% block style %}
    {% endblock style %}

</head>
<body>
        <header>
            {% block header %}
            {% endblock header %}
        </header>


        {% block content %}
        {% endblock content %}

        

</body>
</html>