{% extends "layout.njk" %}
    
    
    {% block header %}
     
        <div class="menu">
            <a href="about" class="active">Teachers</a>
            <a href="portfolio">Students</a>
        </div>
    {% endblock header %}
        